.loading-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-overlay-background);

    .loader {
        width: 100px;
        aspect-ratio: 1;
        display: grid;
        border: 0.5rem solid;
        border-radius: 50%;
        border-color: #3498db transparent;
        animation: rotate 1s infinite linear;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
